
*{
	margin: 0;
	padding:0; 
}
html{
	height: 100%;
}
body{
	height: 100%;
	min-width: 1080px;
	position: relative;
}
.main-wrapper{
	min-height: 100%;
	height: auto !important;
	background: #444  no-repeat;
	transition: background 3s;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.mask{

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
}
.cover{
	/*height: 100%;
	position: relative;*/
}
.content{
	width: 70%;
	margin: 0px auto;
	padding: 30px 0px 100px;
	font-family: "微软雅黑";
	color: #fff;
	position: relative;
}
.content h1{
	float: left;
	color: #fff;
	border-top: 2px solid #ff6464;
	border-bottom: 2px solid #ff6464;
	padding:15px 20px; 
	margin-bottom: 100px;
	text-shadow: 2px 1px 2px #333;
}

.content .btn{
	float: right;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #ff6464;
	border-radius: 20px;
	margin: 20px 0;
	background: transparent;
	transition: border-radius 0.5s;
}
.content div:hover{
	background: rgba(0,0,0,0.8);
	border-radius: 0px;

}
.content div a{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	
	text-shadow: 2px 1px 2px #333;
}
.content p{
	clear: both;
	text-indent: 10px;
	line-height: 30px;
	font-size: 20px;
	text-shadow: 2px 1px 2px #333;
	letter-spacing: 3px;
	font-family: "宋体";
	text-indent: 2em;
}
.content p span{
}