
.index-banner {
	position: relative;
	background: #3B3B3B;
}

.index-banner-bg{
	height: 570px;
	overflow: hidden;
}
.index-banner-bg img{
	margin: 0 auto;
}
.index-banner-text{
	position: absolute;
	top: 210px;
	left: 50%;
	margin-left: -388px;
}
.index-banner-text .text-logo{
	width: 776px;
	height: 117px;
	background: url("../image/text-logo.png");
}
.index-banner-text .text-info{
	margin-top: 17px;
	text-align: center;
	color: #fff;
}
.index-banner-text .text-line{
	display: inline-block;
	width: 40px;
	border-top:1px solid #fff ;
	vertical-align: middle;
}
.index-banner-text .text{
	margin:0 26px;
}

/*菜单*/

.index-menu{
	height: 500px;
	position: relative;
	border-top: 4px solid #f34949;
}
.index-menu .menu-tips{
	width: 156px;
	height: 72px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -78px;
	background: #f34949;
	text-align: center;
	line-height: 62px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.index-menu .menu-tips:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-left:78px solid transparent ;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}
