
.index-banner {
	position: relative;
	background: #3B3B3B;
}

.index-banner-bg{
	height: 570px;
	overflow: hidden;
}
.index-banner-bg img{
	margin: 0 auto;
}
.index-banner-text{
	position: absolute;
	top: 210px;
	left: 50%;
	margin-left: -388px;
}
.index-banner-text .text-logo{
	width: 776px;
	height: 117px;
	background: url("../image/text-logo.png");
}
.index-banner-text .text-info{
	margin-top: 17px;
	text-align: center;
	color: #fff;
}
.index-banner-text .text-line{
	display: inline-block;
	width: 40px;
	border-top:1px solid #fff ;
	vertical-align: middle;
}
.index-banner-text .text{
	margin:0 26px;
}

/*菜单*/

.index-menu{
	/*height: 500px;*/
	position: relative;
	border-top: 4px solid #f34949;
}
.index-menu .menu-tips{
	width: 156px;
	height: 72px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -78px;
	background: #f34949;
	text-align: center;
	line-height: 62px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.index-menu .menu-tips:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-left:78px solid transparent ;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}

/*菜单列表*/
.menu-list{
	margin-top: 150px;
	overflow: hidden;	
}
.menu-list ul{
	width: 1160px;
}
.menu-list .menu-item{
	width: 520px;
	float: left;
	margin-right: 60px;
	margin-bottom: 60px;
	
}


.menu-list .menu-item .title{
	float: left;
	width: 230px;
	
}

.menu-list .menu-item .title h4{
	font-size: 16px;
	margin-bottom: 7px;
	color: #555;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.menu-list .menu-item .title .contant{
	font-size: 12px;
	color: #b7b7b7;
}
.menu-list .menu-item .line{
	float: left;
	width: 192px;
	border: 1px solid #b7b7b7;
	margin-top: 10px;
}
.menu-list .menu-item .price{
	float: right;
}

/*菜单更多按钮*/
.index-menu .menu-more-btn{
	margin: 0 auto;
	width: 114px;
	height: 32px;
	border: 2px solid #d7d5d5;
	padding-left:14px;
	font-size: 14px;
	color: #b7b7b7;
	line-height: 32px;
	margin-top: 92px;
}
.index-menu .menu-more-btn .icon{
	display: inline-block;
	width: 11px;
	height:7px;
	background: url("../image/more-icon.png");

}
.index-menu .menu-more-btn .menu-more-line{
	margin: 0 10px;
}

/*panel部分1*/
.index-panel{
	margin-top: 200px;
	/*border: 1px solid red;*/
}
.index-panel .index-panel-header h3{
	font-size: 20px;
	color: #000;
	font-weight: bold;
	float: left;
	margin-right: 48px;
}
.index-panel .index-panel-header .panel-line{
	float: left;
	width: 200px;
	border: 1px solid #e5e3e3;
	margin-top: 10px;
}
.index-panel .index-panel-header .btn-group{
	font-size: 0;
	float: right;
}
.index-panel .index-panel-header .btn-group .btn{
	float: left;
	margin-left: 11px;
	width: 10px;
	height: 10px;
	background: #dedede;
	border-radius: 10px;
}
.index-panel .index-panel-header .btn-group .active{
	background: #9b9b9b;
}
.index-panel .index-panel-body{
	margin-top: 75px;
}
.index-food-list{
	overflow: hidden;
}
.index-panel .index-panel-body ul{
	width: 1160px;
}
.index-panel .index-panel-body .food-item{
	float: left;
	margin-right: 60px;
	width: 230px;
}
.index-panel .index-panel-body .food-item .banner{
	height: 202px;
	margin-bottom: 30px;
}
