
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
	padding: 0;margin: 0;
	font-family:arial, helvetica, sans-serif ;
	
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}
img{
	border: none;
	display: block;
}
.clearfloat{
	zoom: 1;
}
.clearfloat:after{
	display: block;
	content: "";
	clear: both;
	visibility: hidden;
	height: 0;
}
